body {
    background: #656565;
    font-family: 'Lato', sans-serif;
    overflow-y: scroll;
    font-size: 12px;
    min-width: 320px;
    margin: 0;
}

div.maincontainer {
    max-width: 980px;
    width: 980px;
    margin: auto;
    background: #e9e9e9;
    color: #403E3F;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.75);
}

div.maincontent {padding-bottom: 40px;}

div.mainNavContainer {
    position: absolute;
    top: 0;
    width: 100%;
    color: #e9e9e9;
    background: #403e3f;
}

ul.mainNav {
    list-style-type: none;
}

    ul.mainNav li {
        display: inline-block;
    }
