body {
    background: #656565;
    font-family: 'Lato', sans-serif;
    overflow-y: scroll;
    font-size: 12px;
    min-width: 320px;
    margin: 0;
}

div.maincontainer {
    max-width: 980px;
    width: 980px;
    margin: auto;
    background: #fafafa;
    color: #403E3F;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.75);
}

div.mainNavContainer {
    position: absolute;
    top: 0;
    width: 100%;
    color: #e9e9e9;
    background: #403e3f;
}

div.pageTitle {
    font-family: 'Alex Brush', cursive;
    font-size: 30px;
    position: absolute;
    height: 45px;
    padding-left: 10px;
    line-height: 45px;
    cursor: pointer;
}

    div.pageTitle a {
        color: #fff;
        text-decoration: none;
    }

ul.mainNav {
    list-style-type: none;
    float: right;
    padding-right: 10px;
}

    ul.mainNav li {
        display: inline-block;
        text-align: center;
        width: 50px;
    }

        ul.mainNav li a {
            text-decoration: none;
            color: #e9e9e9;
            cursor: pointer;
        }

            ul.mainNav li a:hover {
                text-decoration: underline;
            }

        ul.mainNav li.search {
            width: 150px;
        }

            ul.mainNav li.search div.searchContainer {
                border: solid 1px #999;
                background: #fff;
                color: #403e3f;
            }

            ul.mainNav li.search input {
                width: 130px;
                border: 0;
                background: none;
            }

div.maincontent {
    padding-bottom: 40px;
    margin-top: 45px;
    font-size: 14px;
}

    div.maincontent.explore {
        text-align: center;
    }

div.title {
    font-size: 24px;
    padding: 10px;
    border-bottom: solid 1px #999;
}

div.contentSection {
    margin: 10px;
}

div.codeSection {
    float: left;
    padding: 0 10px 10px 10px;
    width: calc(100% - 155px);
    border-left: solid 1px #999;
}

    div.codeSection div.code {
        padding: 5px;
        background: #e9e9e9;
        font-family: Consolas;
    }

    div.codeSection div.comment {
        margin: 5px 0;
    }

div.userInfo {
    float: left;
    width: 130px;
    font-size: 12px;
}

div.tags {
    margin-top: 10px;
}

div.tag {
    display: inline-block;
    padding: 2px 4px;
    margin: 0 2px;
    background: #ffff99;
    font-size: 12px;
    font-weight: bold;
    color: #403e3f;
}

div.replyTitle {
    font-size: 20px;
    margin: 20px 0;
    text-indent: 10px;
    border-bottom: solid 1px #e9e9e9;
}

div.buttonBar {
    text-align: center;
}

div.reply {
    padding: 10px 0;
    border-bottom: solid 1px #e9e9e9;
}

div.cancel {
    background: #c8c7c0;
    border: solid 1px #b2b1aa;
    color: #605f5d;
    cursor: pointer;
    border-radius: 4px;
    margin: 10px auto;
    width: 150px;
    line-height: 25px;
    text-align: center;
    height: 25px;
    display: inline-block;
    font-weight: bold;
}

    div.cancel:hover {
        background: #b2b1aa;
    }

div.submit {
    display: inline-block;
}

div.addReply,
div.submit {
    background: #056a74;
    color: #e9e9e9;
    border-radius: 4px;
    margin: 10px auto;
    width: 150px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
}

    div.addReply i {
        margin-right: 5px;
    }

    div.addReply:hover,
    div.submit:hover {
        background: #04474e;
    }

div.addReplyHolder {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
}

div.addReplyContent {
    width: 750px;
    margin: 100px auto;
    background: #fff;
    padding-bottom: 20px;
}

div.origCodeTitle,
div.newReplyTitle {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 2px 0;
    border-bottom: solid 1px #403e3f;
}

div.newReply input,
div.newReply textarea {
    width: 80%;
    max-width: 90%;
    max-height: 200px;
}

div.newReply .replyComment,
div.newReply .replyCode {
    text-align: center;
    margin: 10px 0;
}

div.clearer {
    float: none;
    clear: both;
    width: 100%;
}

.none {
    display: none !important;
}
